
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Thank you for visiting the Grant Chirpus Code Dojo!</h1>
        <p> @Html.ActionLink("Click here to take you to the registration form.", "RegForm")</p>
    </div>
</body>
</html>
